.textGradient {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #8840f8, #0df092);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
