.pageContainer {

}

.headerSection {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.headerSection > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.headerImage {
    width: 100vw;
    object-fit: cover;
}

.nextButtonContainer {
    position: absolute;
    top: 70%;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nextButton {
    height: auto;
    width: auto;
    padding: 15px;
    background-color: #24475B;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
    margin: 0 auto;
    position: absolute;
}

.nextButton:hover {
    background-color: #2F5D7A;
}

.pageHeader {
    display: flex;
    font-size: 80px;
    font-family: Butler;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    position: absolute;
    top: 0;
}

.navigationBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
}

.navLinksContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navigationLink {
    padding: 10px 20px;
    font-family: 'Pavanam', sans-serif;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.navigationLink {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.navigationLink:hover, .navigationLink:focus, .navigationLink:active {
    color: #2F5D7A;
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
}


.logoContainer {
    font-family: Butler, sans-serif;
    font-weight: 900;
    color: white;
    font-size: 50px;
}

.authButton {
    background-color: #24475B;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    padding: 10px 20px;
    font-family: 'Pavanam', sans-serif;
    font-size: 20px;
    color: white;
}

.authButtonLight {
    background: none;
    border: none;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-family: 'Pavanam', sans-serif;
}

.authButton {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}
.authButton:hover, .authButton:focus, .authButton:active {
    background-color: #2F5D7A;
    color: white;
}

.authButtonLight {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.authButtonLight:hover, .authButtonLight:focus, .authButtonLight:active {
    color: #2F5D7A;
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
}

.laptopImage {
    width: 65%;
    height: auto;
    margin: 0 auto;
    object-fit: cover;
}

.laptopSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.sectionHeader {
    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-size: 50px;
    color: #24475B;
    margin-bottom: 20px;
    display: block;
    margin-top: 6%;
    text-align: center;
    width: 80%;
}

.phoneSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background-color: #0e2431;
}

.phoneBox {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

.phoneVideo {
    padding-top: 10px;
    width: 80%;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
}

.phoneHeader {
    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-size: 40px;
    color: whitesmoke;
    margin-bottom: 20px;
    display: block;
    margin-top: 6%;
    text-align: center;
    width: 70%;
    margin-bottom: 20px;
}