@import "../../Butler_Webfont/stylesheet.css";

.cardContainer {
    position: relative;
    padding-bottom: 20px;
    margin-top: -20px;
}

.cardContainer:hover {
    transition: transform 0.1s;
    transform: scale(1.01);
}

.cardImage {
    aspect-ratio: 1 / 1;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    top: 11px;
    position: relative;
    margin-top: -34px;

}

.noImageCard {
    background-color: white;
    border: #E2E2E2 solid 1px;
    border-radius: 10px;
    color: black;

    font-family: Butler;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);

    font-size: 3vw;
    padding-left: 20px;
    font-weight: bold;
    aspect-ratio: 1 / 1;
    position: relative;
}

.noImageCard:hover {
    transition: transform 0.1s;
    transform: scale(1.01);
}

.noImageCardLogo {
    font-weight: 900;
    font-family: Butler;
    position: absolute;
    left: 6%;
    top: 4%;
    font-size: 8vw;
    color: #0e2431;
}

.noImageCardHeader {
    padding-top: 50%;
    display: block;
    font-size: 2.7vw;
}

.initCardFooter {
    display: block;
    font-size: 1.3vw;
    text-decoration: underline;
}

.cardTest {
    background: #24475B;
    aspect-ratio: 2 / 1;
    border-radius: 10px;
    border: #E2E2E2 solid 1px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    height: auto;
    z-index: 1;
}

.cardTitle {
    font-family: Butler;
    font-size: 2.7vw;
    top: 7%;
    left: 5%;
    font-weight: 400;
    text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.45);
    color: white;
    display: block;
    z-index: 2;
    position: absolute;
    max-width: 70%;
}

.cardTest:hover {
    transition: transform 0.1s;
    transform: scale(1.01);
}

.deleteIcon, .backIcon {
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 2;
    color: #e8e8e8;
    font-size: 4vw;
    border-radius: 10px;
    padding: 10px;
}

.deleteIcon:hover {
    background-color: rgba(36, 71, 91, 0.53);

}

@media screen and (max-width: 900px) {
    .cardTitle {
        font-size: 4vw;
    }

    .noImageCard {
        aspect-ratio: 2 / 1;
    }

    .noImageCardHeader {
        padding-top: 40%;
        font-size: 4vw;
    }

    .cardImage {
        aspect-ratio: 2 / 1;
    }
}

@media screen and (max-width: 600px) {
    .cardTitle {
        font-size: 5vw;
    }

    .noImageCard {
        aspect-ratio: 2 / 1;
    }
}