@import "../../Butler_Webfont/stylesheet.css";

.cardImage {
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}



.cardTest {
    background: #24475B;
    aspect-ratio: 2 / 1;
    border-radius: 10px;
    border: #E2E2E2 solid 1px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    height: auto;
    z-index: 1;
}

.cardContainer {
    position: relative;
}

.cardContainer:hover {
    transition: transform 0.1s;
    transform: scale(1.01);
}

.cardTitle {
    font-family: Butler;
    font-size: 2.7vw;
    top: 5%;
    left: 5%;
    font-weight: 400;
    text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.45);
    color: white;
    display: block;
    z-index: 2;
    position: absolute;
    max-width: 70%;
}

.cardTest:hover {
    transition: transform 0.1s;
    transform: scale(1.01);
}

.deleteIcon {
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 2;
    color: white;
    font-size: 4vw;
    border-radius: 10px;
    padding: 10px;
}

.deleteIcon:hover {
    cursor: pointer;
    background-color: rgba(36, 71, 91, 0.53);

}




@media screen and (max-width: 900px) {
    .cardTitle {
        font-size: 4vw;
    }

    .cardTest {
        aspect-ratio: 2 / 1;
    }

    .cardImage {
        aspect-ratio: 2 / 1;
    }
}

@media screen and (max-width: 600px) {
    .cardTitle {
        font-size: 5vw;
    }

    .cardTest {
        aspect-ratio: 2 / 1;
    }
}