.pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    background: #FDFDFD;
    border-radius: 10px;
    border: #E2E2E2 solid 1px;
    padding-top: 30px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    padding-bottom: 20px;
    margin: 50px auto 40px;
    height: 100%;
}

.submitButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin: 0 auto;
    width: 75%;
}

.title {
    font-family: Inter, serif;
    font-size: 2.8vw;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
}

.sectionHeader {
    font-family: Inter, serif;
    font-size: 1.5vw;
    margin: 0 auto;
    text-align: center;
}

.sectionSubheader {
    font-family: Roboto, serif;
    font-size: .9vw;
    font-weight: lighter;
    margin-bottom: 10px;
}

.slideContainer {
    display: block;
    width: 800px;
    height: 400px;
    background-color: salmon;
    color: violet;
}

.filePond {
    width: 75%;
    margin: 0 auto;
}

.textEditor {
    width: 75%;
    background: #FDFDFD;
    border-radius: 10px;
    border: #E2E2E2 solid 1px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.loginButton {
    margin: 10px;
}

.previewCardContainer {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 110%;
    backdrop-filter: blur(6px);
    z-index: 2;
}

.previewCloseIcon {
    position: absolute;
    right: 50px;
    top: 50px;
    font-size: 1.5vw;
    cursor: pointer;
    z-index: 3;
    color: gray;
    scale: 200%;
}
.previewCloseIcon:hover {
    color: black;
    scale: 250%;
}

