@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pavanam&display=swap');
@import "src/common/constants/globalVariables";

.gridContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20vh;
}

.initCard {
    background-color: white;
    border: #E2E2E2 solid 1px;
    border-radius: 10px;
    color: black;

    font-family: Butler;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);

    font-size: 3vw;
    padding-left: 20px;
    font-weight: bold;
    aspect-ratio: 1 / 1;
    position: relative;
}

.initCard:hover {
    transition: transform 0.1s;
    transform: scale(1.01);
}

.initCardLogo {
    font-weight: 900;
    font-family: Butler;
    position: absolute;
    left: 6%;
    top: 4%;
    font-size: 8vw;
    color: $base-color-dark;
}

.initCardHeader {
    padding-top: 50%;
    display: block;
}

.initCardFooter {
    display: block;
    font-size: 1.3vw;
    text-decoration: underline;
}

.miniCardButton {
    background-color: $base-color-dark;
    border-radius: 10px;
    color: white;
    font-family: Pavanam;
    font-size: 1.5vw;
    aspect-ratio: 3 / 1;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.miniCardButton:hover {
    background-color: $base-color-hover;
}


.miniCardButtonText {
    font-family: Pavanam, serif;
    font-size: 2vw;
    color: white;
    margin-top: 10px;
}

.arrowButton {
    color: white;
    padding-right: 15px;
}


.pageTitleContainer {
    width: 45%;
    margin: 0 auto;
    display: flex;
    justify-content: left;
    align-content: center;
    align-items: center;
}

.cardContainer {
    display: flex;
    flex-direction: column;
}

#grid {
    max-width: 45%;
    margin: 0 auto;
}


.loadingSpinner {
    margin: auto auto;
    text-align: center;
}
.gridItem {
    width: 30vw;
}

.triangle {
    margin: auto 0;
    width: 32px;
    height: 32px;
    fill: black;
    stroke: none;

}

.pageTitle {
    font-family: Inter;
    font-size: 2.8vw;
    font-weight: 400;
    margin: 0;
    margin-left: 10px;
}

.addCardButton {
    color: #24475B;
    margin: auto 0;
    margin-left: auto;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.addCardButton:hover {
    color: #2F5D7A;
    cursor: pointer;
}

.backButtonText {
    padding-left: 10px;
}

.pointerCursor {
    cursor: pointer;
}


@media screen and (max-width: 900px) {
    #grid {
        max-width: 65%;
    }

    .initCard {
        aspect-ratio: 2 / 1;
    }

    .pageTitleContainer {
        min-width: 550px;
        margin: 0 auto;
    }

    .pageTitle {
        font-family: Inter;
        padding-left: 10px;
        font-size: 4vw;

    }

    .miniCardButton {
        display: none;
    }
}

@media screen  and (max-width: 670px){

    .pageTitle {
        font-family: Inter;
        padding-left: 10px;
        font-size: 6vw;

    }

    .pageTitleContainer {
        min-width: 0;
        width: 85%;
        margin: 0 auto;
    }
}