@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.gridContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20vh;
}

.miniCardButton {
    background-color: #0e2431;
    border-radius: 10px;
    color: white;
    font-family: Pavanam;
    font-size: 1.5vw;
    aspect-ratio: 3 / 1;
}

.pageTitleContainer {
    width: 45%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.cardContainer {
    display: flex;
    flex-direction: column;
}

#grid {
    max-width: 45%;
    margin: 0 auto;
}


.loadingSpinner {
    margin: auto auto;
    text-align: center;
}
.gridItem {
    width: 30vw;
}

.pageTitle {
    font-family: Inter;
    padding-left: 10px;
    font-size: 2.8vw;

}

.addCardButton {
    color: #24475B;
    margin: auto 0;
    margin-right: 10px;
}

.addCardButton:hover {
    color: #3a6f8f;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    #grid {
        max-width: 65%;
    }

    .pageTitleContainer {
        min-width: 550px;
        margin: 0 auto;
    }

    .pageTitle {
        font-family: Inter;
        padding-left: 10px;
        font-size: 4vw;

    }
}

@media screen  and (max-width: 670px){

    .pageTitle {
        font-family: Inter;
        padding-left: 10px;
        font-size: 6vw;

    }

    .pageTitleContainer {
        min-width: 0;
        width: 85%;
        margin: 0 auto;
    }
}