@import "src/common/constants/globalVariables.scss";

.buttonContainer {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  justify-content: left;
  width: 70%;
  padding: 10px;
}

.buttonContainer:hover {
  background: $base-color-light;
}

.buttonContainerActive {
  background: $base-color;
}

.navIcon {

}

.navText {
    font-family: Inter;
    font-size: 1.5vw;
    color: white;
    margin-bottom: 0;
    margin-left: 10px;
}

.navTextActive {
    font-family: Inter;
    font-size: 1.5vw;
    color: black;
    margin-bottom: 0;
}