#text-box input {
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 15px;
    width: 33vw;
    height: 3vw;
    font-family: Roboto;
    font-weight: 500;
    font-size: 1vw;
    border-radius: 30px;
    border: 3px solid lightgrey;
}

#text-box {
    text-align: center;
    display: block;
}

@media (max-width: 600px) {
    #text-box input {
        margin-bottom: 15px;
        width: 60vw;
        height: 3vw;
        font-family: Roboto;
        font-weight: 500;
        font-size: 3vw;
        border-radius: 30px;
        border: 3px solid lightgrey;
    }

    #text-box {
        text-align: center;
        display: block;
    }

    #sub-text {
        margin-bottom: 20px;
    }
}